.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.layout__header {
  margin: auto;
}
.layout__footer {
  margin: auto;
}
